name: Fix PHP code style issues

on:
  push:
    branches-ignore:
      - main
    paths:
      - '**.php'

permissions:
  contents: write

concurrency:
  group: style-${{ github.ref }}
  cancel-in-progress: true

jobs:
  php-code-styling:
    runs-on: ubuntu-latest

    if: github.ref != 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Fix PHP code style issues
        uses: aglipanci/laravel-pint-action@2.6

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "style: fix code style with Pint"
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
